{% extends 'base.html.twig' %}

{% block title %}Statistiques et chiffres du COVID-19 en France!{% endblock %}

{% block body %}

<div class="album py-5" id="department">
		<div class="container" id="output">
            <h1 class="mb-5">Les chiffres du COVID-19 par département</h1>

		<form action="/search/department" method="POST"> 
		<input type="text" name="text" class="search" placeholder="Search here!">
		<input id="submit" type="submit" name="submit" class="submit" value="Search">
		</form>

    {% if data is defined %}
    {% if data.LiveDataByDepartement is empty %}
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <p>Rien pour le moment ..</p>
    </div>
    {% else %}
	<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">Les chiffres du COVID-19 -
			{{ data.LiveDataByDepartement.0.nom }}</h1>
		<p class="lead">Source :
			{{ data.LiveDataByDepartement.0.sourceType }}</p>
		<p class="lead">Date d'actualisation :
			{{ data.LiveDataByDepartement.0.date }}</p>
	</div>

	<div class="card mb-5 shadow-lg">
		<div class="card-body">
        {% if chart is defined %}
			{{ render_chart(chart) }}
            {% endif %}
		</div>
	</div>


	<div class="row text-center">
		<div class="col">
			<div class="card mb-4 shadow-sm mt-4">
				<div class="card-header">
					<h4 class="my-0 fw-normal">Nombre d’hospitalisations</h4>
				</div>
				<div class="card-body">
					<h1 class="card-title pricing-card-title">{{ data.LiveDataByDepartement.0.hospitalises }}</h1>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card mb-4 shadow-sm mt-4">
				<div class="card-header">
					<h4 class="my-0 fw-normal">Nombre de personnes réa</h4>
				</div>
				<div class="card-body">
					<h1 class="card-title pricing-card-title">{{ data.LiveDataByDepartement.0.reanimation }}</h1>
				</div>
			</div>
		</div>
	</div>
    {% endif %}
{% endif %}
	<script>
		function AJAX(){
			$.ajax({
				type: 'GET',
				url: '/search',
				data:{
					name:$("#search").val(),
				},
				success:function(data) {
					$("#output").html(data);
				}
			});
		}
		$(document).ready(function(){
		
			$("#submit").click(function(){
				AJAX();
			});
		});
	</script>
{% endblock %}
